@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h2>Projeto</h2>
    <p class="lead">Este projeto utiliza boas práticas de programação, foi definido uma boa arquitetura aonde cada reposabilidade 
                    não foi violada. Padrões utilizados.:</p>
    <ul>
        <li>IoC - Inversão de Controle (DIP - Injeção de Depêndencia)</li>
        <li>SRP - Principio de responsabilidade única</li>
        <li>ISP - Segregação de Interface</li>
        <li>Factory - Fabrica de objetos</li>
        <li>Repository - Mapeamento de dados utilizando uma interface</li>
    </ul>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Cadastrar - Aluno</h2>
        <p>
           Veja como é fácil cadastrar um aluno utilizando o Entity Framework 6
        </p>
    </div>
    <div class="col-md-4">
        <h2>Visualizar - Aluno</h2>
        <p>Visualize todos os alunos ou faça filtro de pesquisa para encontrar o aluno desejado</p>
        
    </div>
    <div class="col-md-4">
        <h2>Exluir - Aluno</h2>
        <p>Veja como ficou fácil excluir um aluno utilizando Entity Framework 6</p>
    </div>
</div>